# Run this to update the html dashboards. Will run automatically as well.

name: Update dashboard html
on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'
  push:
    branches: [ main ]
jobs:
  run_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          sudo apt-get update
          python -m pip install --upgrade pip
          pip install .
      - name: Update HTML
        run: |
          python3 src/lf_workflow_dash/update_dashboard.py ${{ secrets.PERSONAL_ACCESS_TOKEN }} ./config/tracked_workflows.yaml html/index.html

   
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'html'

  deploy:
    needs: run_update
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4